@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Theme light */
  --primary-bg: #f2f2f2;
  --secondary-bg: white;

  --primary-text: #4f626c;
  --secondary-text: #364349;
  --tertiary-text: #d95066;

  /* Theme dark */
  --primary-bg-dark: #273036;
  --secondary-bg-dark: #2d3d44;

  --primary-text-dark: #b3ccd9;
  --secondary-text-dark: white;
  --tertiary-text-dark: white;
}

html {
  @apply scroll-smooth
}

body {
  @apply bg-primary-bg dark:bg-primary-bg-dark font-open-sans text-primary-text dark:text-primary-text-dark
}

@layer base {
  h1 {
    @apply text-3xl lg:text-5xl xl:text-6xl font-bold leading-relaxed lg:leading-snug xl:leading-snug text-secondary-text dark:text-secondary-text-dark
  }

  h2 {
    @apply text-2xl lg:text-4xl xl:text-5xl font-bold text-secondary-text dark:text-secondary-text-dark
  }

  h3 {
    @apply text-xl lg:text-3xl xl:text-4xl font-bold text-primary-text dark:text-primary-text-dark
  }
  h4 {
    @apply text-base lg:text-2xl xl:text-3xl font-bold text-primary-text dark:text-primary-text-dark
  }

  p {
    @apply text-lg lg:text-lg leading-snug lg:leading-normal
  }
}